.wrapper {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1920px;
}

.inner {
  width: 100%;
  margin: 0 auto;
  /*background-color: #FF0000;*/
  max-width: 1300px;
}

.dp-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Slick And Accordion */

.slick-and-accordion-blk {
  /*border: 1px solid red;*/
  margin-top: 173px;
}

.slick-and-accordion-blk .slick-and-accordion-inner-blk {
  margin-left: -35px;
  padding-top: 50px;
  padding-right: 46px;
}

.slick-and-accordion-inner-blk .product-slick {
  width: 569px;
}

.slick-and-accordion-inner-blk .product-accordion {
  width: 552px;
}

.product-accordion .span-red {
  margin-top: 250px;
  color: #ff0000;
  font-family: "Gill Sans MT";
}

.product-accordion h1 {
  margin-top: 28px;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
}

.product-accordion .rating {
  margin-top: 33px;
}

.product-accordion .pricing {
  margin-top: 20px;
  margin-left: 4px;
}

.product-accordion .span-black-underline {
  margin-left: 33px;
  font-family: "Gill Sans MT";
  text-decoration: underline;
}

.product-accordion .span-black-line {
  margin-right: 20px;
  font-family: "Gill Sans MT";
  text-decoration: line-through;
}

.product-accordion h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -5px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
}

.product-accordion .parag {
  width: 552px;
  margin-top: 33px;
  margin-left: -5px;
}

.product-accordion .quantity-blk {
  font-family: "Gill Sans MT";
}

.product-accordion .quantity-blk h2 {
  margin-top: 31px;
  margin-bottom: 25px;
  margin-left: -6px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
}

.product-accordion .quantity-blk .shop-btn {
  width: 249px;
  height: 25px;
  margin-top: 75px;
}

.product-accordion .quantity {
  width: 309px;
  padding: 5px 13px;
  padding-bottom: 7px;
  border: 2px solid #000;
}

.product-accordion .quantity-blk .three-blks {
  margin-left: -6px;
}

.product-accordion .detail {
  font-family: "Gill Sans MT";
  font-size: 15px;
}

/* _________________________________________ */

.accordion-container {
  margin-left: -1px;
  padding-top: 15px;
}

.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: #d9d9d9;
  color: #000;
  font-family: "Montserrat";
  font-weight: 700;
  cursor: pointer;
}

.accordion-title::after {
  position: absolute;
  top: 11px;
  right: 15px;
  color: #b12323;
  content: "+";
}

.accordion-title.open::after {
  top: 7px;
  right: 20px;
  content: "-";
}

.accordion-content {
  line-height: 17px;
  margin-bottom: 17px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 17px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  font-family: "Gill Sans MT";
  border-bottom: 2px solid #d9d9d9;
}

.accordion-container {
  width: 444px;
  margin-top: 30px;
}

/* ------------------------------------- */

/* related blk */

.related-product-blk h1 {
  margin-top: 45px;
  margin-left: 39.5%;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
}

.related-product-blk .container {
  margin-top: -70px;
}

.related-product-blk .container .item-detail {
  margin-top: 10px;
}

.related-product-blk .product-con .item .img-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290.35px;
  height: 352.5px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
}

/* _______________________________________ */

/* Explore */

.explore-blk {
  padding-top: 2px;
  padding-bottom: 160px;
}

.explore-blk .title-blk {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 159px;
}

.explore-blk .title-blk h1 {
  margin-bottom: 23px;
  margin-left: 17.5%;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
}

.explore-blk .title-blk p {
  font-size: 15px;
}

.explore-blk .explore-inner {
  width: 925px;
  margin: 0 auto;
}

.explore-blk .import {
  width: 175px;
}

.explore-blk img {
  margin-bottom: 8px;
  margin-left: 40px;
}

.explore-blk .import-img {
  margin-left: 20px;
}

.explore-blk .protection-img {
  margin-left: 60px;
}

.explore-blk .import-txt {
  margin-left: -20px;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
}

.explore-blk .recycle {
  width: 175px;
}

.explore-blk .recycle-txt {
  margin-left: 38px;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
}

.explore-blk .protection {
  width: 175px;
}

.explore-blk .protection-txt {
  margin-left: 36px;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
}

/* _______________________________________ */

/* Tab */

.tab-blk {
  padding-bottom: 99px;
}

.tab-blk h1 {
  margin-top: 130px;
  margin-bottom: 117px;
  margin-left: 32.4%;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
}

.tab-nav {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 113px;
}

.tab-blk .tab-nav a {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
}

.tab-blk .tab-nav a:hover {
  color: #d9d9d9;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  opacity: 0.7;
}

.tab-content {
  display: none;
  width: 958px;
  height: 407px;
  margin: 0 auto;
  background-image: url(../img/product/img_tab_pc.png);
}

.tab-content.active {
  display: block;
}

/* ______________________________________ */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .inner {
    width: 100%;
    margin: 0 auto;
    /*background-color: #FF0000;*/
    max-width: 768px;
  }

  .dp-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Slick And Accordion */

  .slick-and-accordion-blk {
    margin-top: 19.531vw;
  }

  .slick-and-accordion-blk .slick-and-accordion-inner-blk {
    margin-left: 7.161vw;
    padding-top: 5.859vw;
  }

  .slick-and-accordion-inner-blk .product-slick {
    width: 74.219vw;
  }

  .slick-and-accordion-inner-blk .product-accordion {
    width: 74.219vw;
    margin-top: 5.339vw;
    margin-left: 7.161vw;
  }

  .product-accordion .span-red {
    margin-top: 31.25vw;
    color: #ff0000;
    font-family: "Gill Sans MT";
  }

  .product-accordion h1 {
    margin-top: 3.255vw;
    font-family: "Montserrat";
    font-size: 6.51vw;
    font-weight: 700;
  }

  .product-accordion .rating {
    margin-top: 4.297vw;
  }

  .product-accordion .pricing {
    margin-top: 3.516vw;
  }

  .product-accordion .span-black-underline {
    margin-left: 4.427vw;
    font-family: "Gill Sans MT";
    text-decoration: underline;
  }

  .product-accordion .span-black-line {
    margin-right: 2.604vw;
    font-family: "Gill Sans MT";
    text-decoration: line-through;
  }

  .product-accordion h2 {
    margin-top: 2.995vw;
    margin-bottom: 3.255vw;
    margin-left: -0.651vw;
  }

  .product-accordion .parag {
    margin-top: 4.297vw;
    margin-left: -0.391vw;
  }

  .product-accordion .quantity-blk h2 {
    margin-top: 4.036vw;
    margin-left: -0.26vw;
  }

  .product-accordion .quantity-blk .shop-btn {
    width: 32.422vw;
    height: 3.255vw;
    margin-top: 9.375vw;
  }

  .product-accordion .detail {
    font-family: "Gill Sans MT";
    font-size: 1.953vw;
  }

  /* _________________________________________ */

  /* Accordion part */

  .accordion-container {
    margin-left: -0.781vw;
    padding-top: 0.521vw;
  }

  .accordion-container .accordion-title {
    position: relative;
    width: 71.875vw;
    margin-top: 1.953vw;
    margin-left: 0.26vw;
    padding-top: 1.042vw;
    padding-bottom: 1.302vw;
    padding-left: 1.953vw;
  }

  .accordion-title::after {
    position: absolute;
    top: 0.781vw;
    right: 1.693vw;
    color: #000;
    content: "+";
  }

  .accordion-title.open::after {
    content: "-";
  }

  .accordion-content {
    width: 71.875vw;
    line-height: 2.214vw;
    margin-top: 1.302vw;
    margin-bottom: 2.214vw;
    margin-left: 0.26vw;
    padding-top: 1.302vw;
    padding-bottom: 1.302vw;
    padding-left: 2.214vw;
  }

  .accordion-container {
    width: 57.813vw;
    margin-top: 3.906vw;
  }

  /* ------------------------------------- */

  /* related blk */

  .related-product-blk h1 {
    margin-top: 13.542vw;
    margin-left: 35.5%;
  }

  .related-product-blk .container {
    margin-top: 0.26vw;
  }

  .related-product-blk .container .item-detail {
    margin-top: 1.302vw;
  }

  /* _______________________________ */

  /* Explore */

  .explore-blk {
    padding-top: 0.26vw;
    padding-bottom: 20.833vw;
  }

  .explore-blk .title-blk {
    width: 32.552vw;
    margin: 0 auto;
    margin-top: -1.042vw;
    margin-bottom: 20.703vw;
  }

  .explore-blk .explore-inner {
    width: 86.979vw;
    margin: 0 auto;
  }

  .explore-blk .import {
    width: 22.786vw;
    margin-left: 1.302vw;
  }

  .explore-blk .import-img {
    margin-left: 2.604vw;
  }

  .explore-blk .protection-img {
    margin-left: 7.813vw;
  }

  .explore-blk .import-txt {
    margin-left: -2.604vw;
  }

  .explore-blk .recycle {
    width: 22.786vw;
    margin-left: -1.302vw;
  }

  .explore-blk .protection-txt {
    margin-left: 3.906vw;
  }

  /* _______________________________________ */

  /* Tab */

  .tab-blk {
    padding-bottom: 13.021vw;
  }

  .tab-blk h1 {
    margin-top: 15.625vw;
    margin-bottom: 6.51vw;
    margin-left: 20%;
  }

  .tab-nav {
    width: 77.083vw;
    margin: 0 auto;
    margin-bottom: 6.51vw;
    padding-right: 1.563vw;
    padding-left: 0.26vw;
  }

  .tab-content {
    display: none;
    width: 89.583vw;
    height: 52.995vw;
    margin: 0 auto;
    background-image: url(../img/product/img_tab_tb.png);
  }

  .tab-content.active {
    display: block;
  }

  /* ______________________________________ */
}

/* Mobile */

@media screen and (max-width: 767.9px) {
  .inner {
    width: 100%;
    margin: 0 auto;
    /*background-color: #FF0000;*/
    max-width: 100vw;
  }

  /* Slick And Accordion */

  .slick-and-accordion-blk {
    margin-top: 27.03vw;
  }

  .slick-and-accordion-blk .slick-and-accordion-inner-blk {
    margin-left: 7.03vw;
    padding-top: 3.13vw;
  }

  .slick-and-accordion-inner-blk .product-slick {
    max-width: 85vw;
    /*margin-left: 10.16vw;*/
  }

  .slick-and-accordion-inner-blk .product-accordion {
    max-width: 85vw;
    margin-top: 7.03vw;
    margin-left: 0.78vw;
  }

  .product-accordion .span-red {
    margin-top: 39.06vw;
    color: #ff0000;
    font-family: "Gill Sans MT";
  }

  .product-accordion .rating {
    margin-top: 4.53vw;
  }

  .product-accordion .pricing {
    margin-top: 3.91vw;
  }

  .product-accordion .span-black-underline {
    margin-left: 5.63vw;
  }

  .product-accordion .span-black-line {
    margin-right: 6.72vw;
    font-family: "Gill Sans MT";
    text-decoration: line-through;
  }

  .product-accordion h2 {
    width: 48.44vw;
    line-height: 3.91vw;
    margin-top: 3.13vw;
    margin-bottom: 3.91vw;
    margin-left: -0.47vw;
  }

  .product-accordion .parag {
    width: 76.72vw;
    margin-top: -3.28vw;
    margin-left: 0vw;
  }

  .product-accordion .quantity-blk h2 {
    margin-top: 2.03vw;
    margin-bottom: 3.59vw;
    margin-left: 0vw;
    font-family: "Montserrat";
    font-size: 3.13vw;
    font-weight: 700;
  }

  .product-accordion .quantity-blk .shop-btn {
    height: 3.91vw;
    margin-top: 9.22vw;
    margin-left: -15.63vw;
  }

  .product-accordion .quantity {
    width: 48.28vw;
    margin-left: 0.31vw;
    padding: 0.78vw 2.03vw;
    padding-bottom: 1.09vw;
    border: 0.31vw solid #000;
  }

  .product-accordion .quantity-blk .three-blks {
    margin-left: -0.94vw;
  }

  .product-accordion .detail {
    font-family: "Gill Sans MT";
    font-size: 2.34vw;
  }

  /* _________________________________________ */

  /* Accordion part */

  .accordion-container {
    margin-left: -0.94vw;
    padding-top: 0.31vw;
  }

  .accordion-container .accordion-title {
    position: relative;
    width: 85vw;
    margin-top: 2.34vw;
    margin-left: 0.31vw;
    padding-top: 1.25vw;
    padding-bottom: 1.56vw;
    padding-left: 2.34vw;
  }

  .accordion-title::after {
    position: absolute;
    top: 1.09vw;
    right: 2.34vw;
    color: #000;
    content: "+";
  }

  .accordion-content {
    width: 85vw;
  }

  .accordion-container {
    width: 69.38vw;
    margin-top: 4.69vw;
  }

  /* ------------------------------------- */

  /* related blk */

  .related-product-blk h1 {
    margin-top: 16.09vw;
    margin-left: 32.6%;
  }

  .related-product-blk .container {
    margin-top: 6.25vw;
  }

  .related-product-blk .container .item-detail {
    margin-top: 1.56vw;
  }

  /* _______________________________ */

  /* Explore */

  .explore-blk {
    margin-top: -5.47vw;
    padding-top: 0.31vw;
    padding-bottom: 25vw;
  }

  .explore-blk .title-blk {
    width: 39.06vw;
    margin: 0 auto;
    margin-bottom: 24.84vw;
  }

  .explore-blk .title-blk h1 {
    margin-bottom: 3.59vw;
    margin-left: 18%;
    font-family: "Montserrat";
    font-size: 3.91vw;
    font-weight: 700;
  }

  .explore-blk .title-blk p {
    font-size: 2.34vw;
  }

  .explore-blk .explore-inner {
    width: 45.94vw;
    margin: 0 auto;
  }

  .explore-blk .import {
    width: 45.94vw;
    margin-bottom: 25.78vw;
    margin-left: 7.81vw;
  }

  .explore-blk .import-img {
    padding-left: 5.16vw;
  }

  .explore-blk .import-txt {
    margin-left: 1.88vw;
  }

  .explore-blk .protection-img {
    padding-left: 1.56vw;
  }

  .explore-blk .recycle {
    width: 27.34vw;
    margin-bottom: 25.78vw;
    margin-left: 7.81vw;
  }

  .explore-blk .recycle-img {
    padding-left: 1.56vw;
  }

  .explore-blk .recycle-txt {
    margin-left: 7.34vw;
  }

  .explore-blk .protection {
    width: 27.34vw;
    margin-left: 4.69vw;
  }

  .explore-blk .protection-txt {
    margin-left: 7.66vw;
  }

  /* _______________________________________ */

  /* Tab */

  .tab-blk {
    margin-bottom: 23.44vw;
  }

  .tab-blk h1 {
    margin-top: 17.03vw;
    margin-bottom: 14.06vw;
    margin-left: 14%;
  }

  .tab-nav {
    width: 85vw;
    margin: 0 auto;
    margin-bottom: 17.66vw;
  }

  .tab-content {
    display: none;
    width: 85vw;
    height: 32.81vw;
    margin: 0 auto;
    background-image: url(../img/product/img_tab_mb.png);
  }

  .tab-content.active {
    display: block;
  }

  /* ______________________________________ */
}