/* Product-slick */

.slider-container {
  position: relative;
  width: 569px;
  margin: 0 auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 37%;
  padding: 10px 20px;
  border: none;
  /*background-color: rgba(221, 47, 47, 0.5);*/
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.slick-prev,
.slick-next {
  display: none !important;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 51%;
  }
}

@media screen and (max-width: 767.9px) {
  .slider-container {
    position: relative;
    width: 544px;
    margin: 0 auto;
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 51%;
  }
}